.wrapperSearch{
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
}
.wrapperSearch .ant-btn{
  border: none;
  background-color: rgb(248, 244, 244);
}
.wrapperSearch .ant-input{
  text-align: center;
  direction: rtl;
}
.collapseItems{
  margin: 10px 0;
}
.collapseItems .ant-collapse-header{
  flex-direction: row-reverse;
}

.collapseItems .ant-collapse{
  background-color: #fff;
  margin: 0 auto;
}
.collapseItems .ant-collapse-header{
  border-bottom: 1px solid rgb(238, 231, 231);
}