@font-face {
  font-family: IranSans;
  src: url('./asset/fonts/IRANSans/ttf/IRANSansWeb.ttf');
}

body {
  margin: 0;
  font-family: IranSans!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(248, 244, 244)!important;
  
}

